@layer Footer {
    .footer { 
        background: #222;
        padding-top: 7.7rem;
        padding-bottom: 8.1rem;
        .content { 
            width: 100%;
            max-width: 1095px;
            margin: 0 auto;
            .btn-request { 
                display: block;
                margin: 0 auto;
                background: #bd080c;
                font-size: 2.4rem;
                color: #fff;
                font-weight: 500;
                padding: 1.2rem 4rem 1.5rem 4rem;
                border-radius: 3.5rem;
            }
            .desc1 { 
                font-size: 2rem;
                color: #fff;
                font-weight: 500;
                text-align: center;
                &.mt65 { 
                    margin-top: 3.5rem;
                }
            }
            .email { 
                display: block;
                font-size: 2rem;
                color: #fff;
                font-weight: 500;
                text-align: center;
                margin-top: 1rem;
            }
            .hr { 
                display: block;
                width: 100%;
                height: 1.5px;
                background: #515151;
                margin-top: 3.4rem;
                margin-bottom: 4rem;
            }
            h3 { 
                font-size: 2.4rem;
                color: #fff;
                font-weight: 600;
                text-align: center;
            }
            .sns-list { 
                display: flex;
                justify-content: center;
                margin-top: 4rem;
                gap: 2rem;
                align-items: center;
                img { 
                    width: 80%;
                }
            }
            
        }
        @media screen and (max-width: 768px) {
            .content { 
                padding: 0 4rem;
                .desc1 { 
                    font-size: 3.5vw;
                }
                .email { 
                    font-size: 3.5vw;
                }
                .hr { 
                    width: 80%;
                    height: 1px;
                    margin: 6.4rem auto 7.1rem auto;
                }
                .btn-request {
                    display: block;
                    margin: 0 auto;
                    background: #bd080c;
                    font-size: 2.5rem;
                    color: #fff;
                    font-weight: 600;
                    padding: 1rem 3rem 1.3rem 3rem;
                    border-radius: 7rem;
                }
                .sns-list { 
                    display: flex;
                    justify-content: center;
                    margin-top: 4rem;
                    gap: 0;
                    align-items: center;
                    li { 
                        a { 
                            display: block;
                            img { 
                                display: block;
                                width: 50%;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }

        }
    }
}