@layer Layout { 
    .main { 
        position: relative;
    }
    .section1 { 
        position: relative;
        margin-top: 85px;
        @media screen and (max-width: 768px) {
            margin-top: 60px;
        }
        .text { 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .title { 
                max-width: 75.9rem;
            }
            .desc { 
                display: block;
                max-width: 63.9rem;
                margin: 5.6rem auto 0 auto;
            }
            .bar { 
                display: block;
                width: 2px;
                height: 51px;
                background: #fff;
                margin: 5.1rem auto 0 auto;
            }
            .trading { 
                display: block;
                max-width: 18.2rem;
                margin: 4.9rem auto 0 auto;
            }
        }
        .company-explanation { 
            padding: 6.9rem 2rem 4.1rem 2rem;
            background: #bd080c;
            @media screen and (max-width: 768px) {
                padding: 4rem 2rem 4rem 2rem;
                .h3 { 
                    font-size: 3rem !important;
                }
                .p { 
                    font-size: 1.8rem !important;
                    margin-top: 2rem !important;

                }
            }
            .h3 { 
                font-size: 3.5rem;
                color: #fff;
                text-align: center;
            }
            .p { 
                font-size: 2rem;
                color: #fff;
                text-align: center;
                margin-top: 2.7rem;
            }
        }
    } // section1
    .section2 { 
        .content { 
            padding: 0 20px;
            max-width: 60%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15rem;
            .box { 
                position: relative;
                background: #bd080c;
                // max-width: 82.6rem;
                border-radius: 8px;
                margin: 16rem auto 0 auto;
                padding: 6.1rem 2rem 4.2rem 2rem;
                margin-top: 5.7rem;

                &:nth-child(2) { 
                    margin: 10.3rem auto 0 auto;
                }
                .ico-quotes { 
                    position: absolute;
                    top: -4rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 8rem;
                }
                .p { 
                    font-size: 3rem;
                    color: #fff;
                    line-height: 160%;
                    text-align: center;
                }
                @media screen and (max-width: 768px) {
                        
                    padding: 5rem 2rem 4rem 2rem;
                    &:nth-child(2) { 
                        margin: 5rem auto 0 auto;
                    }
                    .ico-quotes { 
                        width: 5rem;
                        top: -2.5rem;

                    }
                    .p { 
                        font-size: 2.5rem;
                        line-height: 4.5rem;
                        br { 
                            display: none;
                        }
                    }
                
                }
            }
            .img-desc1 { 
                display: block;
                width: 100%;
                max-width: 95.9rem;
                margin: 11.8rem auto 0 auto;
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            .img-desc1-mo { 
                display: none;
                @media screen and (max-width: 768px) {
                    display: block;
                    width: 60%;
                    margin: 45px auto 0 auto;
                }
            }
            .ico_alert { 
                display: block;
                width: 100%;
                max-width: 16rem;
                margin: 12.6rem auto 0 auto;
                @media screen and (max-width: 768px) {
                    max-width: 64px;
                    margin: 5.9rem auto 0 auto;

                }
            }
            .desc { 
                font-size: 3.5rem;
                color: #222;
                font-weight: 700;
                text-align: center;
                margin-top: 4.3rem;
                @media screen and (max-width: 768px) {
                    font-size: 3rem;
                }
            }
            .list-type1 { 
                display: flex;
                gap: 3.2rem;
                justify-content: center;
                margin-top: 8.2rem;
                width: 85%;
                // max-width: 1200px;
                margin-left: auto;
                margin-right: auto;
                @media screen and (max-width: 768px) {
                    flex-wrap: wrap;
                    li { 
                        width: calc(40% - 3.2rem) ;
                    }
                    & + .ico-line { 
                        display: none;
                    }
                }
            }
            .ico-line { 
                display: block;
                max-width: 91.8rem;
                margin: 0 auto;
            }
            .desc2 { 
                font-size: 3.5rem;
                font-weight: 700;
                color: #222;
                text-align: center;
                margin-top: 2.8rem;
                @media screen and (max-width: 768px) {
                    font-size: 3.5rem;
                }
            }
            .desc3 { 
                font-size: 2.4rem;
                color: #222;
                text-align: center;
                margin-top: 4.9rem;
                @media screen and (max-width: 768px) {
                    font-size: 2rem;
                    margin-top: 5rem;
                }
            }
        }
    } //section2
    .section3 { 
        margin-top: 10rem;
        .content { 
            padding: 0 2rem;
            // width: 80%;
            max-width: 1160px;
            margin-left: auto;
            margin-right: auto;
            .row1 { 
                display: flex;
                gap: 7rem;
                margin-top: 12.3rem;

                .img-card1 { 
                    width: 40%;
                    max-width: 409px;
                }
                .img-card1-mo { 
                    display: none;
                }
                .text { 
                    width: 100%;
                    .label-wrap { 
                        display: flex;
                        align-items: center;
                        .label { 
                            display: flex;
                            justify-content: center;
                            padding-top: 0;
                            padding-bottom: 1rem;
                            font-size: 3rem;
                            line-height: 4rem;
                            color: #fff;
                            width: 12.3rem;
                            height: 4.2rem;
                            border-radius: 6.2rem;
                            background: #bd080c;
                        }
                        .bar { 
                            display: block;
                            height: 5px;
                            background: #bd080c;
                            width: 100%;
                        }
                    }
                    .h3 { 
                        font-size: 4rem;
                        color: #bd080c;
                        font-weight: 700;
                        line-height: 160%;
                        margin-top: 1.9rem;
                    }
                    .p { 
                        font-size: 2.4rem;
                        color: #231411;
                        line-height: 160%;
                        margin-top: 2.5rem;
                    }
                    .strong {
                        display: block;
                        font-size: 2.8rem;
                        color: #231411;
                        line-height: 160%;
                        margin-top: 9.5rem;
                        text-align: right;
                        span { 
                            color: #bd080c;
                        }
                    }
                }
                @media screen and (max-width: 768px) {
                    display: block;
                    margin-top: 7rem;

                    .img-card1 { 
                        display: none;
                    }
                    .img-card1-mo { 
                        display: block;
                    }
                    .text { 
                        margin-top: 4rem;
                        .label-wrap { 
                            .label { 
                                font-size: 3rem;
                                height: 5rem;
                                padding: .5rem 0;
                            }
                        }
                        .h3 { 
                            font-size: 3.5rem;
                            line-height: 5.5rem;
                        }
                        .p { 
                            font-size: 1.8rem;
                            line-height: 20px;
                            font-weight: 500;
                        }
                        .strong { 
                            font-size: 2.5rem;
                            line-height: 160%;
                        }
                    }
                }
            }
            .row2 { 
                display: flex;
                flex-direction: row-reverse;
                gap: 7rem;
                margin-top: 12.3rem;
                .img-card2 { 
                    width: 40%;
                    max-width: 409px;
                }
                .img-card2-mo { 
                    display: none;
                }
                .text { 
                    width: 100%;
                    .label-wrap { 
                        display: flex;
                        align-items: center;
                        .label { 
                            display: flex;
                            // align-items: center;
                            justify-content: center;
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            font-size: 4.5rem;
                            line-height: 4rem;
                            color: #fff;
                            width: 100%;
                            height: 6.2rem;
                            border-radius: 6.2rem;
                            background: #bd080c;
                        }
                        .bar { 
                            display: block;
                            height: 5px;
                            background: #bd080c;
                            width: 100%;
                        }
                    }
                    .h3 { 
                        font-size: 4rem;
                        color: #bd080c;
                        font-weight: 700;
                        line-height: 160%;
                        margin-top: 1.9rem;
                    }
                    .p { 
                        font-size: 2.4rem;
                        color: #231411;
                        line-height: 160%;
                        margin-top: 2.5rem;
                        
                    }
                    .strong {
                        display: block;
                        font-size: 2.8rem;
                        color: #231411;
                        line-height: 160%;
                        margin-top: 9.5rem;
                        text-align: left;
                        span { 
                            color: #bd080c;
                        }
                    }
                }
                @media screen and (max-width: 768px) {
                    display: block;
                    margin-top: 5rem;
                    .img-card2 { 
                        display: none;
                    }
                    .img-card2-mo { 
                        display: block;
                    }
                    .text { 
                        margin-top: 4rem;
                        .label-wrap { 
                            .label { 
                                font-size: 3rem;
                                height: 5rem;
                                padding: 0.5rem 0;
                            }
                        }
                        .h3 { 
                            font-size: 3.5rem;
                            line-height: 5.5rem;
                        }
                        .p { 
                            font-size: 1.8rem;
                            line-height: 20px;
                            font-weight: 500;
                            margin-top: 2rem;
                        }
                        .strong { 
                            font-size: 2.5rem;
                            line-height: 160%;
                        }
                    }
                }
            }
            .ico-quotes2 { 
                display: block;
                width: 60px;
                margin: 18rem auto 0 auto;
                @media screen and (max-width: 768px) {
                    width: 40px;
                    margin: 6rem auto 0 auto;

                }
            }
            .text2 { 
                margin-top: 2.7rem;
                font-size: 3rem;
                line-height: 160%;
                color: #222;
                text-align: center;
                font-weight: 500;
                span { 
                    color: #fff;
                    background: #222;
                }
                @media screen and (max-width: 768px) {
                    font-size: 3rem;
                    margin-top: 2.7rem;
                }
            }
        }
    } //section3
    .section4 { 
        margin-top: 8.6rem;
        .content { 
            margin: 12.1rem auto 0 auto;
            width: 75%; 
            // max-width: 1160px;
            padding: 0 2rem;
            @media screen and (max-width: 768px) {
                margin: 4rem auto 0 auto;
            }
            .row1 { 
                position: relative;
                .speech-wrap { 
                    display: flex;
                    justify-content: space-between;
                    img { 
                        width: 100%;
                        max-width: 360px;
                    }
                    &:nth-child(2) { 
                        margin-top: 20rem;
                    }

                }
                .brand { 
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 5.6rem;
                    line-height: 12.7rem;
                    color: #fff;
                    background: #bd080c;
                    width: 22.6rem;
                    aspect-ratio: 1 / 1;
                    border-radius: 100%;
                    font-weight: 600;
                }
                @media screen and (max-width: 768px) {
                    .speech-wrap { 
                        gap: 1.6rem;
                        img { 
                            width: calc(50% - .8rem);
                        }
                        &:nth-child(2) { 
                            margin-top: 15rem;
                        }
                    }
                    .brand { 
                        width: 14rem;
                        font-size: 4rem;
                    }
                }
            }
            .desc1 { 
                font-size: 3.5rem;
                line-height: 160%;
                color: #222;
                text-align: center;
                margin-top: 7.2rem;
                font-weight: 500;
                .br-mo { 
                    display: none;
                }
                @media screen and (max-width: 768px) {
                    font-size: 2.8rem;
                    font-weight: 500;
                    margin-top: 8rem;

                    .br-mo { 
                        display: block;
                    }
                }
            }
            .bar { 
                display: block;
                width: 13.8rem;
                height: 1.5px;
                background: #646464;
                margin: 5.6rem auto 0 auto;
            }
            .img-desc2 { 
                display: block;
                margin-top: 8rem;
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    } //section4
    .section5 { 
        margin-top: 10rem;
        .content { 
            position: relative;
            display: flex;
            gap: 12.1rem;
            margin: 12.1rem auto 0 auto;
            width: 80%; 
            padding: 0 2rem;
            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 7.8rem;
                margin: 6rem auto 0 auto;
            }
            .card { 
                width: 100%;
                background: #f2f2f2;
                border-radius: 20px;
                padding: 3.9rem 2rem 4.7rem 4.5rem;
                .title { 
                    font-size: 3.5rem;
                    line-height: 3.5rem;
                    color: #222;
                    font-weight: 700;
                }
                .info { 
                    margin-top: 4.6rem;
                    li { 
                        display: flex;
                        gap: 1.1rem;
                        &::before { 
                            display: block;
                            content: "";
                            width: 6px;
                            height: 6px;
                            background: #777777;
                            border-radius: 100%;
                            margin-top: 1.5rem;
                        }
                        & + li { 
                            margin-top: 1.9rem;
                        }
                    }
                    .p { 
                        display: block;
                        font-size: 2rem;
                        line-height: 3.5rem;
                        color: #222;
                        font-weight: 700;
                    }
                    .span { 
                        display: block;
                        font-size: 1.8rem;
                        line-height: 3.5rem;
                        color: #222;
                    }
                }
                &.red { 
                    background: #bd080c;
                    .title { 
                        color: #fff;
                    }
                    .p { 
                        color: #fff;
                        &.mark { 
                            display: inline;
                            background: #fff;
                            color: #bd080c;

                        }
                    }
                    .span { 
                        color: #fff;
                    }
                    li { 
                        &::before { 
                            display: block;
                            content: "";
                            width: 6px;
                            height: 6px;
                            background: #ec8b8d;
                            border-radius: 100%;
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
            .round { 
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 17rem;
                aspect-ratio: 1 / 1;
                border: 1px solid #fff;
                background: #222222;
                font-size: 2.6rem;
                font-weight: 600;
                line-height: 160%;
                color: #fff;
                text-align: center;
                border-radius: 100%;
                @media screen and (max-width: 1200px) {
                    font-size: 2.8rem;
                    width: 18rem;
                }
                @media screen and (max-width: 768px) {
                    top: calc(50% - 6rem);
                }
            }
        }
    } //section5
    .section6 {
        margin-top: 100px; 
        .content { 
            position: relative;
            margin: 17.7rem auto 0 auto;
            // width: 100%; 
            width: 87%;
            margin-left: auto;
            margin-right: auto;
            padding: 0 10rem;
            .row { 
                position: relative;
                display: flex;
                align-items: stretch;
                justify-content: center;
                gap: 6rem;
                @media screen and (max-width: 768px) {
                    gap: 4rem;
                }
                &:nth-child(2) {
                    margin-top: 8rem;
                    @media screen and (max-width: 768px) {
                        margin-top: 0;
                    }
                }
                &:nth-child(3) {
                    margin-top: 5rem;
                    @media screen and (max-width: 768px) {
                        margin-top: 3rem;
                    }
                }
                .card { 
                    position: relative;
                    width: 100%;
                    height: auto;
                    background: #e8e8e8;
                    border-radius: 20px;
                    
                    @media screen and (max-width: 768px) {
                        &::after { 
                            position: absolute;
                            bottom: -43px;
                            left: 50%;
                            transform: translateX(-50%);
                            display: block;
                            content: "";
                            width: 22px;
                            height: 28px;
                            background: url(../images/ico_arrow_down.png) no-repeat center center / contain;
                        }
                        &.type2 { 
                            &::after { 
                                display: none;
                            }
                        }
                    }
                }
            }

            .title { 
                position: relative;
                font-size: 2.6rem;
                line-height: 3.5rem;
                color: #fff;
                font-weight: 700;
                background: #bd080c;
                padding: 2rem 1rem 2rem 3rem;
                border-radius: 20px 20px 0 0;
                .num { 
                    position: absolute;
                    top: -2.8rem;
                    right: -4.8rem;
                    font-size: 6rem;
                    font-weight: 600;
                    background: #222222;
                    width: 8.6rem;
                    aspect-ratio: 1 / 1;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    padding-top: 2.2rem;
                }
            }

            .info { 
                border-radius: 0 0 20px 20px;
                padding: 2rem 3rem;
                li { 
                    display: flex;
                    gap: 1.1rem;
                    &::before { 
                        display: block;
                        content: "";
                        width: 6px;
                        height: 6px;
                        background: #777777;
                        border-radius: 100%;
                        margin-top: 1.5rem;
                    }
                    & + li { 
                        margin-top: 1.5rem;
                    }
                }
                .p { 
                    display: block;
                    font-size: 1.6rem;
                    line-height: 160%;
                    color: #222;
                    font-weight: 700;
                }
                .span { 
                    display: block;
                    font-size: 1.6rem;
                    line-height: 160%;
                    color: #808080;
                }
            }

            .ico-arrow { 
                position: absolute;
                top: 50%;
                left: calc(50%);
                transform: translate(-50%, -50%);
                display: block;
                width: 2.8rem;
                height: 2.2rem;
                &.type2 {
                    transform: rotate(-270deg);
                    left: calc(100% - 22.5rem);
                    top: -2rem;
                }  
                &.type3 { 
                    transform: rotate(-540deg);
                    left: calc(50% - 1.8rem);
                }
            }
            @media screen and (max-width: 768px) {
                padding: 0 5rem;
                margin: 5rem auto 0 auto;
                .row { 
                    flex-direction: column;
                    .card { 
                        border-radius: 20px;

                    }
                }
                .title { 
                    font-size: 2.8rem;
                    padding: 2.5rem;
                    border-radius: 20px 20px 0 0;

                    .num { 
                        width: 10rem;
                        font-size: 6rem;
                        top: -3rem;
                        right: -3rem;
                        padding-top: 3rem;
                    }
                }
                .info { 
                    padding: 2.5rem 2rem 3rem 2rem;
                    aspect-ratio: 1 / 0.7799;
                    .p { 
                        font-size: 2rem;
                    }
                }
                .ico-feedback { 
                    display: none;
                }
                .ico-arrow {
                    display: none;
                } 
            }
        }
        .ico-feedback { 
            display: block;
            width: 60px;
            position: absolute;
            top: calc(50% - 30px) ;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    } //section6
    .section7 { 
        margin-top: 100px;
        .content { 
            width: 100%;
            max-width: 1220px;
            margin: 0 auto;
            padding: 0 20px;
            .enterprise-list { 
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2.2rem;
                margin-top: 11.2rem;
                width: 87%;
                margin-left: auto;
                margin-right: auto;
            }
            .img-section7 { 
                display: block;
                margin-top: 50px;
            }
            @media screen and (max-width: 768px) {
                .enterprise-list { 
                    grid-template-columns: repeat(2, 1fr);
                    margin-top: 2.5rem;
                }
                .img-section7 { 
                    margin-top: 25px;
                }
            }
        }
    } //section7
    .section8 { 
        margin-top: 100px;
        .content { 
            width: 60%;
            margin: 11.6rem auto 0 auto;
            padding: 0 20px;
            .img-desc3 { 
                display: block;
                width: 80%;
                margin: 0 auto;
            }
            .img-desc3-mo { 
                display: none;
            }
            .info { 
                margin-top: 9rem;
                li { 
                    display: flex;
                    align-items: center;
                    gap: 2.1rem;
                    background: #f4f4f2;
                    padding: 2.2rem 3.3rem;
                    border-radius: 7.8rem;

                    & + li { 
                        margin-top: 2.5rem;
                    }
                    img { 
                        display: block;
                        width: 3rem;
                        @media screen and (max-width: 768px) {
                            width: 2.2rem;
                        }
                    }
                    .p { 
                        font-size: 2.5rem;
                        color: #222;
                        font-weight: 700;
                    }
                    @media screen and (max-width: 768px) {
                        padding: 1.6rem 3.3rem;
                        gap: 1.4rem;

                    }
                }
            }
            @media screen and (max-width: 768px) {
                margin: 6rem auto 0 auto;
                .img-desc3 {
                    display: none;
                } 
                .img-desc3-mo { 
                    display: block;
                }
                .info { 
                    margin-top: 7rem;
                    li { 
                        .p { 
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
        .profile { 
            background: #dddddd;
            padding-top: 4.6rem;
            padding-bottom: 5.7rem;
            margin-top: 12rem;
            @media screen and (max-width: 768px) {
                margin-top: 8rem;
                padding-top: 3.6rem;
                padding-bottom: 2.7rem;
            }
            .content { 
                width: 100%;
                max-width: 1000px;
                margin: 0 auto;
                .strong { 
                    font-size: 3rem;
                    font-weight: 700;
                    color: #222;
                }
                .p { 
                    font-size: 2rem;
                    color: #222;
                    font-weight: 600;
                    margin-top: 16px;
                }
                .list-wrap { 
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    gap: 11rem;
                    margin-top: 4.9rem;
                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                        gap: 0;
                        margin-top: 2rem;
                    }
                }
                .info2 { 
                  width: 100%;
                    li { 
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 1.7rem;
                        img { 
                            width: 17px;
                        }
                        .text { 
                            font-size: 1.6rem;
                            line-height: 3rem;
                            color: #222;
                        }
                    }
                }
            }
        }
    }
    .visual { 
      @media screen and (max-width: 768px) {
          display: none;
      }
    }
    .visual-mo { 
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
}